name: Down Detector
on:
  workflow_dispatch:
  schedule:
    - cron: '*/5 * * * *'

jobs:
  check-ping:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          out=`.ci/check-ping.sh`
          code=$?
          echo "::set-output name=error::$out"
          exit $code
        env:
          TARGET: ping.firez.one
        continue-on-error: true
        id: check
      - run: .ci/alert.sh
        if: failure()
        env:
          PAYLOAD: ${{steps.check.outputs.error}}
          WEBHOOK_URL: ${{secrets.WEBHOOK_URL}}


  check-ping-dev:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          out=`.ci/check-ping.sh`
          code=$?
          echo $out
          echo "::set-output name=error::$out"
          exit $code
        env:
          TARGET: ping-dev.firez.one
        continue-on-error: true
        id: check
      - run: .ci/alert.sh
        if: failure()
        env:
          PAYLOAD: ${{steps.check.outputs.error}}
          WEBHOOK_URL: ${{secrets.WEBHOOK_URL}}

  check-telemetry:
    runs-on: ubuntu-latest
    env:
      POST_KEY: ${{secrets.POST_KEY}}
      TELEM_ID: ${{secrets.TELEM_ID}}
    steps:
      - uses: actions/checkout@v3
      - run: |
          out=`.ci/check-telemetry.sh`
          code=$?
          echo "::set-output name=error::$out"
          exit $code
        continue-on-error: true
        id: check
      - run: .ci/alert.sh
        if: failure()
        env:
          PAYLOAD: ${{steps.check.outputs.error}}
          WEBHOOK_URL: ${{secrets.WEBHOOK_URL}}
