name: Down Detector
on:
  workflow_dispatch:
  schedule:
    - cron: '*/5 * * * *'

jobs:
  check-ping:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: .ci/check-ping.sh
        env:
          TARGET: ping.firez.one
      - run: .ci/alert.sh
        if: failure()
        env:
          RUN_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          WEBHOOK_URL: ${{secrets.WEBHOOK_URL}}


  check-ping-dev:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: .ci/check-ping.sh
        env:
          TARGET: ping-dev.firez.one
      - run: .ci/alert.sh
        if: failure()
        env:
          RUN_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          WEBHOOK_URL: ${{secrets.WEBHOOK_URL}}

  check-telemetry:
    runs-on: ubuntu-latest
    env:
      POST_KEY: ${{secrets.POST_KEY}}
      TELEM_ID: ${{secrets.TELEM_ID}}
    steps:
      - uses: actions/checkout@v3
      - run: .ci/check-telemetry.sh
      - run: .ci/alert.sh
        if: failure()
        env:
          TARGET
          RUN_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          WEBHOOK_URL: ${{secrets.WEBHOOK_URL}}
