name: Down Detector
on:
  workflow_dispatch:
  schedule:
    - cron: '*/5 * * * *'

jobs:
  check-ping:
    env:
      TARGET: ping.firez.one
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: .ci/check-ping.sh
      - run: .ci/alert.sh
        if: failure()
        env:
          OUTFILE: ./ping.stdout
          RUN_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          WEBHOOK_URL: ${{secrets.WEBHOOK_URL}}
      - uses: stefanzweifel/git-auto-commit-action@v4


  check-ping-dev:
    runs-on: ubuntu-latest
    env:
      TARGET: ping-dev.firez.one
    steps:
      - uses: actions/checkout@v3
      - run: .ci/check-ping.sh
      - run: .ci/alert.sh
        if: failure()
        env:
          OUTFILE: ./ping-dev.stdout
          RUN_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          WEBHOOK_URL: ${{secrets.WEBHOOK_URL}}
      - uses: stefanzweifel/git-auto-commit-action@v4

  check-telemetry:
    runs-on: ubuntu-latest
    env:
      POST_KEY: ${{secrets.POST_KEY}}
      TELEM_ID: ${{secrets.TELEM_ID}}
      TARGET: telemetry.firez.one
    steps:
      - uses: actions/checkout@v3
      - run: .ci/check-telemetry.sh
      - run: .ci/alert.sh
        if: failure()
        env:
          OUTFILE: ./check-telemetry.stdout
          RUN_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          WEBHOOK_URL: ${{secrets.WEBHOOK_URL}}
      - uses: stefanzweifel/git-auto-commit-action@v4
